<div class="header-container">
  <h1>Create New Budget</h1>
</div>
<div class="container">

  <form id="form-1" >
    <div class="row">
      <h3>New Budget</h3>
      <div class="input-group">
        <input placeholder="Budget Name" required [(ngModel)]="newBudget.budgetName" [ngModelOptions]="{standalone: true}">
      </div>
    </div>
    <div class="row">
      <div class="btn-box">
        <button type="button" (click)="nextForm2Click()">Next</button>
      </div>
    </div>
  </form>

  <form id="form-2">
    <div class="row">
      <h3>Creating Budget: {{newBudget.budgetName}}</h3>
    </div>
    <div class="row">
      <div class="column-1">
        <h3>Monthly Income</h3>
        <div class="input-group">
          <input type="text" placeholder="Category" required [(ngModel)]="categoryName" [ngModelOptions]="{standalone: true}">
          <input type="text" placeholder="Item" required [(ngModel)]="budgetItem" [ngModelOptions]="{standalone: true}">
          <input type="number" placeholder="Amount" required [(ngModel)]="budgetAmount" [ngModelOptions]="{standalone: true}">
          <button type="button" (click)="addIncome()">Add</button>
        </div>
      </div>
      <div class="column-2">
        <table>
          <tr>
            <th class="main-th" id="column-1">Category</th>
            <th class="main-th" id="column-2">Item</th>
            <th class="main-th" id="column-3">Amount</th>
          </tr>
          <tr *ngFor="let income of incomeList">
            <td>{{income.categoryName}}</td>
            <td>
              <table class="sub-table">
                <tr class="sub-tr" *ngFor="let i of income.budgetItemList">
                  <td>{{i.budgetItem}}</td>
                </tr>
              </table>
            </td>
            <td>
              <table class="sub-table">
                <tr class="sub-tr" *ngFor="let i of income.budgetItemList">
                  <td>{{i.budgetAmount}}</td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="btn-box">
        <button type="button" (click)="backForm1Click()">Back</button>
        <button type="button" (click)="nextForm3Click()">Next</button>
      </div>
    </div>
  </form>

  <form id="form-3">
    <div class="row">
      <h3>Creating Budget: {{newBudget.budgetName}}</h3>
    </div>
    <div class="row">
      <div class="column-1">
        <h3>Monthly Expenses</h3>
        <div class="input-group">
          <input type="text" placeholder="Category" required>
          <input type="text" placeholder="Item" required>
          <input type="number" placeholder="Amount" required>
          <button type="button">Add</button>
        </div>
      </div>
      <div class="column-2">
        <table>
          <tr>
            <th class="main-th">Category</th>
            <th class="main-th">Item</th>
            <th class="main-th">Amount</th>
          </tr>
          <tr class="main-tr" *ngFor="let income of incomeList">
            <td>{{income.categoryName}}</td>
            <td>
              <table>
                <tr class="sub-tr" *ngFor="let i of income.budgetItemList">
                  <th>{{i.budgetItem}}</th>
                </tr>
              </table>
            </td>
            <td>
              <table>
                <tr class="sub-tr" *ngFor="let i of income.budgetItemList">
                  <th>{{i.budgetAmount}}</th>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="btn-box">
        <button type="button" (click)="backForm2Click()">Back</button>
        <button type="button" (click)="createNewBudgetClick()">Create</button>
      </div>
    </div>
  </form>

</div>
