<div class="container">
  <div class="row">
    <h1>Let's Make a New Productivity App</h1>
  </div>
</div>

<div class="new-product-nav-container">
  <div class="d-flex row">
    <ul class="nav nav-pills">
      <li class="nav-item nav-pills">
        <a class="nav-link" routerLink="/new-budget" routerLinkActive="active">Budget</a>
      </li>
      <li class="nav-item nav-pills">
        <a class="nav-link" routerLinkActive="active">Planner</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active">Tracker</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active">Notes</a>
      </li>
    </ul>
  </div>
</div>

<div>
  <router-outlet></router-outlet>
</div>
